<div id='main'>
  <div>
    New list
    <%= render partial: 'list_form', locals: { list: List.new } %>
  </div>
  <div class="list-list">
    <%= render partial: 'list', collection: @lists %>
  </div>

  <%= link_to((@status ? 'Trash' : 'Published list'), lists_path(status: !@status)) %>
</div>
