<div class="item-container inline-block">
  <div class='inline-block'>
    <%= item.description %>
  </div>
  <div class='inline-block'>
    <%= button_to('Edit', edit_list_list_item_path(item.list, item), method: :get, remote: true) %>
  </div>
</div>
